<section id="or-team-2" class="or-team-section-2">
    <div class="container">
        <div class="or-section-title-3 text-center pera-content headline-2">
            <h2>Our Farm Land <span>Farmers</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div class="team-member-card">
            <div class="member-card">
                <img src="../../../assets/images/tm2-1.jpg" alt="">
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="bottom">
                    <h2>Member Name</h2>
                    <p>Designation</p>
                </div>
            </div>
            <div class="member-card">
                <img src="../../../assets/images/tm2-2.jpg" alt="">
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="bottom">
                    <h2>Member Name</h2>
                    <p>Designation</p>
                </div>
            </div>
            <div class="member-card">
                <img src="../../../assets/images/tm2-3.jpg" alt="">
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="bottom">
                    <h2>Member Name</h2>
                    <p>Designation</p>
                </div>
            </div>
            <div class="member-card">
                <img src="../../../assets/images/tm2-4.jpg" alt="">
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter"></i>
                    <i class="bi bi-instagram"></i>
                </div>
                <div class="bottom">
                    <h2>Member Name</h2>
                    <p>Designation</p>
                </div>
            </div>
        </div>
    </div>
</section>