.or-team-section-2{
    padding: 100px 0;
}
  .or-team-section {
    overflow: hidden;
    padding: 105px 0px 100px;
  }
  
  .or-team-section-2 .or-section-title-3 {
    max-width: 585px;
  }
  
  .or-team-content-2 {
    margin: 0px -15px;
  }
  
  .team-member-card{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 50px;
  }

  .member-card{
      border-top-left-radius:15px ;
      border-top-right-radius: 15px;
      width: 270px;
      height: 350px;
      background: rgb(255, 255, 255);
      position: relative;
      overflow: hidden;
      cursor: pointer;
      transition: 0.5s;
  }
  .bottom{
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  }
  .bottom h2{
      margin-bottom: 0;
  }

  img{
      height: 100%;
      width: 100%;
      transition: 0.5s;
  }
  .icons{
      display: flex;
      position: absolute;
      top: 50%;
      justify-content: center;
      width: 100%;
      transition: 0.5s;
  }
  .icons i{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      font-size: 20px;
      color: rgb(0, 159, 26);
      width: 40px;
      height: 40px;
      background: white;
      border-radius: 3px;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
  }
  .member-card:hover i{
      visibility: visible;
      opacity: 1;
  }
  .member-card:hover .icons{
    top: 60%;
}
.member-card:hover .bottom{
   background: rgb(51, 51, 51);
   color: white;
}

.member-card:hover img{
  transform: scale(1.1);
 }