<section id="or-footer-3" class="or-footer-section-3" >
    <div class="container">
        <div class="footer-widget-wrapper-3">
            <div class="row">
                <div class="col-lg-3 col-md-6">	
                    <div class="or-footer-widget headline pera-content ul-li-block">
                        <div class="or-logo-widget">
                            <a href="#"><img src="assets/img/logo/logo2.png" alt=""></a>
                            <p>We work with a passion of taking challenges and creating new ones in advertising sector.	</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">	
                    <div class="or-footer-widget  headline-2 pera-content ul-li-block">
                        <div class="or-menu-widget">
                            <h2 class="widget-title">Information</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">	
                    <div class="or-footer-widget  headline-2 pera-content ul-li-block">
                        <div class="or-menu-widget">
                            <h2 class="widget-title">Categories</h2>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">	
                    <div class="or-footer-widget  headline-2 pera-content ul-li-block">
                        <div class="or-menu-widget">
                            <h2 class="widget-title">My Account</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>