


<section class="testi">
    <div class="container">
       <div class="row">
           <div class="col-lg-6 testi-banner">
               <img src="../../../assets/images/h5-testimonial-banner.png" alt="">
           </div>
           <div class="col-lg-6 test-text">

            <div class="heading">
                <img class="title-shape" src="../../../assets/images/title-shape.png" alt="">
                <h1>What our Clients are <span>Saying</span> </h1>
            </div>

            <div class="text">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur facilis quos 
                    voluptates, excepturi nihil similique harum provident nostrum blanditiis commodi iure
                    vitae neque doloribus sit vel, libero eveniet debitis a quam. Voluptatem eveniet, 
                    exercitationem est fuga ipsam magnam consequuntur nisi. Animi veniam iure, cupiditate
                    laborum porro, quas.</p>

                <h4>Clients Name</h4>
                <p>Designation</p>
            </div>

           </div>
       </div>
    </div>
</section>