<section id="or-best-deal-3" class="or-best-deal-section-3">
    <div class="container">
        <div class="or-deal-content-3 headline-2 pera-content">
            <h2>Deals Of The <span>Weeks!</span></h2>
            <p>Organio is a design studio founded in London. Nowadays, we’ve grown and expanded our services, and have become a multinational firm.</p>
            <div class="best-deal-countdown ul-li">
                <ul>
                    <li class="days">
                        <span class="or-count-down-number">12</span>
                        <span class="count-unit">Days</span>
                    </li>

                    <li class="hours">
                        <span class="or-count-down-number">24</span>
                        <span class="count-unit">Hours</span>
                    </li>

                    <li class="minutes">
                        <span class="or-count-down-number">13</span>
                        <span class="count-unit">Mins</span>
                    </li>

                    <li class="seconds">
                        <span class="or-count-down-number">54</span>
                        <span class="count-unit">Sec</span>
                    </li>
                </ul>
            </div>
            <a class="shopBtn" href="shop.html">Shop Now</a>
        </div>
    </div>
</section>