
<div class="category">
    <div class="container">
        <div class="heading category">
            <img class="title-shape" src="../../../assets/images/title-shape.png" alt="">
            <h1>Our Special <span>Features</span> </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>
          
        <div class="cat-cards">
            <div class="card-box">
                <img src="../../../assets/images/h5-icon1.png" alt="">
                <h4>Vegetable</h4>
            </div>
            <div class="card-box">
                <img src="../../../assets/images/h5-icon2.png" alt="">
                <h4>Vegetable</h4>
            </div>
            <div class="card-box">
                <img src="../../../assets/images/h5-icon3.png" alt="">
                <h4>Vegetable</h4>
            </div>
            <div class="card-box">
                <img src="../../../assets/images/h5-icon4.png" alt="">
                <h4>Vegetable</h4>
            </div>
            <div class="card-box">
                <img src="../../../assets/images/h5-icon5.png" alt="">
                <h4>Vegetable</h4>
            </div>
            <div class="card-box">
                <img src="../../../assets/images/h5-icon6.png" alt="">
                <h4>Vegetable</h4>
            </div>
        </div>

        <div class="cat-banner">
            <img src="../../../assets/images/cta-bg.jpg" alt="">
            <div class="text">
                <h4>Start from <span> $04.99</span> </h4>
                <h2>Organic Food up to 20% off</h2>
                <button>Shop Now</button>
            </div>
        </div>

    </div>
</div>
