

<div class="top-nav">
    <div class="container">
       <div class="row">
           <div class="col-lg-6">
               <div class="top-nav-left">
                   <p class="para1">Welcome to our {{shopName}}</p>
               </div>
           </div>
           <div class="col-lg-6">
            <div class="top-nav-right icons">
               <a href="">Login</a>
               <span>|</span>
               <a href="">Registration</a>
            </div>
           </div>
       </div>
    </div>
</div>


