<div class="banner-part">
    <img class="banner-silde-image" src="../../../assets/images/banner-side1.png" alt="">
    <div class="text">
        <h1>Always Fresh & Organic <br/> <span>Vegetables</span></h1>
        <p>laudantium maxime voluptatum facilis ullam. Recusandae quas, fugiat Tempora magnam distinctio adipisci vel. Sapiente nesciunt, odit hic distinctio soluta laborum. Nihil enim iste cum dolorem cumque atque vero?</p>
        <div class="btns">
            <button class="mat-button">Shop Now</button>
            <button class="mat-button">About Us</button>
        </div>
    </div>
</div>