<div class="features">

    <img class="f-side-image1" src="../../../assets/images/deco1.png" alt="">
    <img class="f-side-image2" src="../../../assets/images/deco2.png" alt="">
    <img class="f-side-image3" src="../../../assets/images/deco3.png" alt="">
    <div class="container">
        <div class="heading">
            <img class="title-shape" src="../../../assets/images/title-shape.png" alt="">
            <h1>Our Special <span>Features</span> </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>

        <div class="or-feature-content position-relative">
            <span class="section-deco1 position-absolute"><img src="assets/img/deco1.png" alt=""></span>
            <span class="section-deco2 position-absolute"><img src="assets/img/deco2.png" alt=""></span>
            <span class="section-deco3 position-absolute"><img src="assets/img/deco3.png" alt=""></span>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="or-feature-innerbox text-center headline-2 pera-content">
                        <div class="or-feature-img">
                            <img src="../../../assets/images/ft-icon1.png" alt="">
                        </div>
                        <div class="or-feature-text">
                            <h3>Fresh Organic Vegetable</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do dunt ut labore.</p>
                            <a href="service-single.html">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="or-feature-innerbox text-center headline-2 pera-content">
                        <div class="or-feature-img">
                            <img src="../../../assets/images/ft-icon2.png" alt="">
                        </div>
                        <div class="or-feature-text">
                            <h3>Fast & Easy Grocery Delivery</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do dunt ut labore.</p>
                            <a href="service-single.html">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="or-feature-innerbox text-center headline-2 pera-content">
                        <div class="or-feature-img">
                            <img src="../../../assets/images/ft-icon3.png" alt="">
                        </div>
                        <div class="or-feature-text">
                            <h3>Very Easy Payment System</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do dunt ut labore.</p>
                            <a href="service-single.html">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
