<div class="products">
    <div class="container">
        <div class="heading">
            <img class="title-shape" src="../../../assets/images/title-shape.png" alt="">
            <h1>Our Special <span>Products</span> </h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
        </div>


        <div class="product-cards">
            <div class="product-box" >
                 <div class="product-image">
                     <img src="../../../assets/images/tp1.png" alt="">
                 </div>
                 <div class="text">
                     <h2>Product Name</h2>
                     <p>Lorem dolor sit ipsum dolor sit.</p>
                     <h4>$250.00</h4>
                     <button class="cart-btn">Add to Cart</button>
                 </div>
            </div>

            <div class="product-box" >
                <div class="product-image">
                    <img src="../../../assets/images/tp1.png" alt="">
                </div>
                <div class="text">
                    <h2>Product Name</h2>
                    <p>Lorem dolor sit ipsum dolor sit.</p>
                    <h4>$250.00</h4>
                    <button class="cart-btn">Add to Cart</button>
                </div>
           </div>

           <div class="product-box" >
            <div class="product-image">
                <img src="../../../assets/images/tp1.png" alt="">
            </div>
            <div class="text">
                <h2>Product Name</h2>
                <p>Lorem dolor sit ipsum dolor sit.</p>
                <h4>$250.00</h4>
                <button class="cart-btn">Add to Cart</button>
            </div>
       </div>

       <div class="product-box" >
        <div class="product-image">
            <img src="../../../assets/images/tp1.png" alt="">
        </div>
        <div class="text">
            <h2>Product Name</h2>
            <p>Lorem dolor sit ipsum dolor sit.</p>
            <h4>$250.00</h4>
            <button class="cart-btn">Add to Cart</button>
        </div>
   </div>

   <div class="product-box" >
    <div class="product-image">
        <img src="../../../assets/images/tp1.png" alt="">
    </div>
    <div class="text">
        <h2>Product Name</h2>
        <p>Lorem dolor sit ipsum dolor sit.</p>
        <h4>$250.00</h4>
        <button class="cart-btn">Add to Cart</button>
    </div>
</div>

<div class="product-box" >
    <div class="product-image">
        <img src="../../../assets/images/tp1.png" alt="">
    </div>
    <div class="text">
        <h2>Product Name</h2>
        <p>Lorem dolor sit ipsum dolor sit.</p>
        <h4>$250.00</h4>
        <button class="cart-btn">Add to Cart</button>
    </div>
</div>

<div class="product-box" >
    <div class="product-image">
        <img src="../../../assets/images/tp1.png" alt="">
    </div>
    <div class="text">
        <h2>Product Name</h2>
        <p>Lorem dolor sit ipsum dolor sit.</p>
        <h4>$250.00</h4>
        <button class="cart-btn">Add to Cart</button>
    </div>
</div>

<div class="product-box" >
    <div class="product-image">
        <img src="../../../assets/images/tp1.png" alt="">
    </div>
    <div class="text">
        <h2>Product Name</h2>
        <p>Lorem dolor sit ipsum dolor sit.</p>
        <h4>$250.00</h4>
        <button class="cart-btn">Add to Cart</button>
    </div>
</div>
        </div>
    </div>
</div>